*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: lightgray;
}
.maincontainer{
    border-radius: 3%;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    padding-top: 20px;
}

header{
    text-align: center;
}
header img{
    width: 20%;
}


/*Navbar design*/
.tab{
    overflow: hidden;
    border: 1px solic #ccc;
    background-color: #f1f1f1;
}

.tab button{
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
}

.tab button:hover{
    background-color: #ddd;
}

#active{
    background-color: #ddd
}

/*Article Design*/
article{
    font-family: calibri;
    font-size: 14pt;
    text-align: justify;
    line-height: 27px;
    margin: 10px;
}

article img{
    float: right;
    width: 25%;
    margin: 10px;
}

article h3{
    font-family: Broadway;
    color: orangered;
    text-align: center;
}

/*footer design*/
footer{
    background-color:#47484B;
    text-align: center;
    color: white;
    padding: 10px;
}
/*footer end*/

.homepic{
    width: 100%;
}


/*contact form*/
.contact{
    margin: 10px;
}
.contact input[type="text"], .contact input[type="email"]{
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    background-color:bisque;
}

.contact textarea{
    padding: 10px; 
    border-radius: 10px;
    width: 90%;
    background-color:bisque;
}

.contact input[type="submit"]{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background-color:cornflowerblue;
    color: white;
}

.contact input[type="reset"]{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background-color:darkred;
    color: white;
}

.address{
    font-size: 15pt;
    margin-top: 50px;
    margin-right: 10px;
    width: 38%;
    float: left;
    
}
.condiv{
    float: left;
    width: 60%;
}
.row{
    width: 80%;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}
